*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #697565;
    height: 400px;
}

.barraNav{
    display: flex;
    list-style: none;
}

.listNav {
    margin: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}


.textoIntro{
    color: #fff;
}

.botonIntro{
    background-color: white;
    color: #697565;
    border-radius: 0;
    border: none;
    margin-top: 30px;
    width: 200px;
    height: 30px;
}

.imgIntro{
    width: 30%;
}


.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subIntro{
    text-align: center;
}

.seccion1{
    background-color: #ECDFCC;
    text-align: center;
    padding: 30px;
    height: 400px;
}

.imgSeccion1{
    width: 20%;
}
.contenedorImg{
    display: flex;
    justify-content: space-evenly;
}
.parrafoSeccion1{
    margin: 30px;
}

.seccion2{
    display: flex;
    padding: 40px;
}

.subSeccion2{
    text-align: center;
    padding: 20px;
}


.infoSubseccion2{
    display: flex;
    margin: 30px;
}
